<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIApplicationSceneManifest</key>
	<dict>
		<key>UIApplicationSupportsMultipleScenes</key>
		<true/>
		<key>UISceneConfigurations</key>
		<dict>
			<key>UIWindowSceneSessionRoleApplication</key>
			<array>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Default Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
				<dict>
					<key>UISceneConfigurationName</key>
					<string>Video Window Configuration</string>
					<key>UISceneDelegateClassName</key>
					<string>$(PRODUCT_MODULE_NAME).SceneDelegate</string>
				</dict>
			</array>
		</dict>
	</dict>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
	</array>
	<key>UIRequiresFullScreen</key>
	<false/>
	<key>NSLocalNetworkUsageDescription</key>
	<string>HeadunitPad needs to discover Android Auto devices on your local network.</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>HeadunitPad needs microphone access for Android Auto voice input.</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>HeadunitPad needs location access when using iPad GPS for Android Auto navigation.</string>
	<key>NSBonjourServices</key>
	<array>
		<string>_androidauto._tcp</string>
		<string>_aawireless._tcp</string>
	</array>
</dict>
</plist>
